.main-infoBox {
    position: absolute;
    bottom: -0.75rem;
    right: 1rem;
    background-color: #ffc2c2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 0.2rem;
    clip-path: polygon(1rem 0%, 100% 0%, calc(100% - 1rem) 100%, 0% 100%);
    display: flex;
}

.infoBox-avatar {
    border-radius: 3px;
    display: inline-block;
    transition: transform .5s ease-in-out;
}

.infoBox-avatar:hover {
    transform: rotate(365deg);
}

.infoBox-link {
    color: black;
    text-decoration: underline dotted;
}

.infoBox-name {
    padding: 0.2rem;
}

.infoBox-column {
    display: flex;
    flex-direction: column;
}

.infoBox-row {
    display: flex;
    flex-direction: row;
}

.infoBox-link {
    color: black;
    cursor: pointer;
}

.infoBox-link:hover {
    color: #3b3b3b;
}

#discordPopup {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    background-color: #ffa9a9;
    padding: 1rem;
    border-radius: 4px;
    vertical-align: center;
}